html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


p {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.outline {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  overflow: auto;
  height: 100vh;
  background-color: #ababab;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  grid-template-rows: 1fr 1fr repeat(5, 1.5fr);
  grid-template-areas:
    "rewards categories categories categories categories categories"
    ".       c1         c2         c3         c4         c5"
    "r1      .          .          .          .          ."
    "r2      .          .          .          .          ."
    "r3      .          .          .          .          ."
    "r4      .          .          .          .          ."
    "r5      .          .          .          .          .";
}

.outline > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  text-align: center;
}

.reward_header {
  grid-area: rewards;
  background-color: #eee;
  border-bottom: solid thin gray;
}

.category_header {
  grid-area: categories;
  background-color: #eee;
  border-bottom: solid thin gray;
  border-left: solid thin gray;
}

.category {
  border-bottom: solid thin gray;
  border-left: solid thin gray;
}

#c1 {
  grid-area: c1;
}

#c2 {
  grid-area: c2;
}

#c3 {
  grid-area: c3;
}

#c4 {
  grid-area: c4;
}

#c5 {
  grid-area: c5;
}

.r_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#r1 {
  grid-area: r1;
}

#r2 {
  grid-area: r2;
}

#r3 {
  grid-area: r3;
}

#r4 {
  grid-area: r4;
}

#r5 {
  grid-area: r5;
}

.reward_square {
  width: 5vw;
  height: 5vw;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.reward_square > p {
  font-size: 2vw;
}

.drop_zone {
  border-left: solid thin gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Close button css taken from https://codepen.io/brissmyr/pen/egidw */

.close {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 2px;
  width: 3px;
  height: 3px;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
